$darkblue: #10141E;
$semidarkblue: #161D2F;
$greyblue: #5A698F;
$red: #FC4747;

//

$heading-l-font-size: 2rem;
$heading-l-tracking: -0.05rem;

$heading-m-font-size: 1.5rem;
$heading-m-tracking: 0;

$heading-s-font-size: 1.25rem;
$heading-xs-font-size: 1rem;

$heading-font-family: 'Outfit', sans-serif;
$heading-line-height: auto;

$heading-l-font-weight: 300;
$heading-m-font-weight: 300;
$heading-s-font-weight: 500;
$heading-xs-font-weight: 500;

//

$body-m-font-size: 0.9375rem;
$body-s-font-size: 0.8125rem;

$body-font-weight: 300;
$body-font-family: 'Outfit', sans-serif;
$body-line-height: auto;

//

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

//