.carousel-section {
    color: #fff;
    text-align: center;
    width: 21rem;
    margin: auto;
}

.carousel-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: #fff;
}

.carousel {
    position: relative;
    width: 21rem;
    height: 37.5rem;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    flex: 0 0 auto;
    position: relative;
    width: 21rem;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-color: $semidarkblue;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .settings {
        position: absolute;
        top: 1rem;
        right: 1rem;
        img {
            height: 1.6rem;
            width: 1.6rem;
        }
    }
}

.card_menu {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        img {
            height: 17.27px;
            width: 17.27px;
        }
    }
}

.card img {
    width: 21rem;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    margin: 0.625rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    flex-shrink: 0;
    padding: 0.625rem;
    max-height: 2.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    padding: 0.625rem;
    font-size: 2rem;
    transition: background-color 0.3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &.prev {
        left: 0.625rem;
    }

    &.next {
        right: 0.625rem;
    }
}

@include breakpoint(md) {
    .carousel-section {
        width: 41.875rem;
    }

    .carousel {
        width: 41.875rem;
    }
}

@include breakpoint(lg) {
    .carousel-section {
        width: 62.8125rem;
        margin: 0;
    }

    .carousel {
        width: 62.8125rem;
    }
}

@include breakpoint(xxl) {
    .carousel-section {
        width: 83.75rem;
    }

    .carousel {
        width: 83.75rem;
    }
}

@include breakpoint(xxxl) {
    .carousel-section {
        width: 104.6875rem;
    }

    .carousel {
        width: 104.6875rem;
    }
}